@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}
<link rel="stylesheet" href="~/css/register.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />
<h1>@ViewData["Title"]</h1>
<p>
    Please check your email to reset your password.
</p>
