@page
@model LockoutModel
@{
    ViewData["Title"] = "Locked out";
}
<link rel="stylesheet" href="~/css/register.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />
<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">This account has been locked out, please try again later.</p>
</header>
