@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}
<link rel="stylesheet" href="~/css/register.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />
<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
<p>
    We have sent you a verification link on your email!
</p>
    }
    else
    {
<p>
        Please check your email to confirm your account.
</p>
    }
}

