@{
    ViewBag.Title = "Privacy Policy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/css/privacy.css" asp-append-version="true" />
<h1>@ViewBag.Title</h1>
<p>Last Updated: 27.06.2023</p>
<p>
    Thank you for visiting our website and playing Stellar Strike. We understand the importance of privacy and are committed to protecting your personal information. This Privacy Policy outlines how we collect, use, disclose, and protect the information you provide to us through this website.
</p>
<h2>Information We Collect</h2>
<h3>1.1 Personal Information</h3>
<p>
    We do not collect any personally identifiable information (PII) while you play our game or browse our website.
</p>
<h3>1.2 Non-Personal Information</h3>
<p>
    We may collect non-personal information, such as your IP address, browser type, operating system, and referring website. This information is collected automatically and is used for statistical purposes, to improve our website, and to enhance your gaming experience.
</p>
<h2>Use of Information</h2>
<p>
    We may use the non-personal information we collect for various purposes, including:
</p>
<ul>
    <li>Enhancing and optimizing our website and game</li>
    <li>Analyzing user trends and preferences</li>
    <li>Troubleshooting technical issues</li>
    <li>Generating statistical data</li>
    <li>Ensuring the security and integrity of our systems</li>
</ul>
<h2>Cookies</h2>
<p>
    We may use cookies and similar technologies to enhance your browsing experience. Cookies are small files that are stored on your device and allow us to recognize you and remember certain information. You have the option to disable cookies through your browser settings, but please note that doing so may limit your access to certain features of our website.
</p>
<h2>Third-Party Links</h2>
<p>
    Our website may contain links to third-party websites or services that are not operated by us. Once you leave our website and access these third-party sites, this Privacy Policy no longer applies. We encourage you to review the privacy policies of those websites before providing any personal information.
</p>
<h2>Data Security</h2>
<p>
    We implement reasonable security measures to protect the information we collect. However, please note that no method of transmission over the internet or electronic storage is completely secure. While we strive to protect your personal information, we cannot guarantee its absolute security.
</p>
<h2>Changes to the Privacy Policy</h2>
<p>
    We reserve the right to update or modify this Privacy Policy at any time without prior notice. Any changes will be effective immediately upon posting the updated Privacy Policy on this page. We encourage you to review this page periodically to stay informed about our privacy practices.
</p>
<h2>Contact Us</h2>
<p>
    If you have any questions or concerns about this Privacy Policy or our data practices, please contact us at vrinceanualin20@stud.ase.ro.
</p>
